<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <!-- <span *ngIf="equipmentBeingEdited !== item; else elseBlock"> -->

    <span (click)="edit(item)" class="editable-text">{{item}}</span>
    <button (click)="remove(item)">remove</button>
  </li>
</ul>
<!-- </span> -->
<!-- <ng-template #elseBlock>
  <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item}}" />
  <button (click)="save(updatedItem.value, item)">save</button>
</ng-template> -->

<input #newEquipment type="text" />
<button (click)="add(newEquipment.value)">Add</button>
